
body {
    font-family: 'Jaldi', sans-serif;
}

*{
 margin: 0;
 padding: 0;
}


.container {
 height: 500px;
 display: flex;
 flex-direction: column; 
 justify-content: flex-start; 
 align-items: center; 
 width: 100%;
 position: relative;
}

/*jiný background image pro každou stránku*/
.index-header {
  background-image: url("../images/mainPageBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-header {
  background-image: url("../images/ContactPagePicture.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-header {
  background-image: url("../images/AboutUsPagePicture.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar__menu {
 display: flex;
 list-style-type: none;
 color: white;
 position: absolute;
 top: 20px;
 right: 50px;
 font-size: 36px;
}

.navbar__item {
 margin-left: 20px;
}

.navbar__item a {
 text-decoration: none;
 color: white;
}

.navbar__item i.material-icons {
 font-size: 36px; 
}

.navbar__item:last-child {
 margin-left: 50px; 
}

h1 {
 color: white;
 text-align: center; 
 font-size: 144px;
 font-family: 'Jockey One', sans-serif;
 position: absolute;
 left: 50%; 
 top: 50%; 
 transform: translate(-50%, -50%);
 width: 100%; 
 height: auto; 
}

.container p {
 color: white;
 font-size: 36px;
 position: absolute; 
 top: 20px; 
 left: 20px; 
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.hamburger-menu i.material-icons {
  font-size: 36px;
  color: white;
}

/*Main Content (index)*/
.index-main .searchbar {
 display: flex;
 align-items: center;
 justify-content: center; 
 margin-right: auto;
 margin-top: 50px; 
}
.index-main .searchbar input[type="text"] {
 padding: 15px; 
 width: 70vh; 
 font-size: 20px; 
 border: 2px solid rgb(100, 100, 100);
 border-radius: 10px;
}
.index-main .searchbar button {
 padding: 12px; 
 border: none;
 background: white;
 cursor: pointer;
}

.index-main .btn{
 background-color: rgba(71, 82, 235, 0);
 border: 2px solid black;
 color: black; 
 padding: 24px 33px;
 cursor:pointer;  
 margin: 10px;
 font-size: 24px;
}

.index-main .mainContent {
 display: flex;
 align-items: center; 
 justify-content: center;
 text-align: center; 
 margin-top: 100px;
 margin-bottom: 100px;
}


.index-main .content {
 flex: 1;
 margin-left: 200px;
}

.index-main .image{
  flex: 1;
  margin-right: 200px;
}
.index-main .image img {
 max-width: 100%; 
 height: auto;
}


.content p{
  font-size: 30px;
}

@media (max-width: 1000px) {
  .index-main .mainContent {
    flex-direction: column; 
    align-items: center; 
  }

  .index-main .content {
    width: 80%; 
    margin-left: 0; 
    margin-right: 0; 
    text-align: center; 
  }

  .index-main .image {
    width: 70%; 
    margin-right: 0; 
    margin-left: 0; 
    margin-bottom: 20px; 
  }

  .index-main .btn {
    padding: 16px 24px; 
    font-size: 20px; 
  }

  .index-main .content p {
    font-size: 24px; 
  }
}

/*Main Content (about)*/
.about-main h3 {
  font-weight: normal;
  font-size: 36px;
  text-align: center;
  margin-top: 50px;
}

.about-main {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
}

.about-main hr {
  width: 25%;
  margin-top: 20px; 
  margin-bottom: 20px; 
}

.about-main h2{
  font-family: 'Jockey One', sans-serif;
  font-size: 64px;
  margin-bottom: 50px;
  text-align: left;
}

.about-main p {
  font-size: 32px;
}

.about-main  .mainContent p {
  font-size: 32px;
  text-align: justify;
}

.about-main .mainContent {
  display: flex;
  align-items: center; 
  margin-top: 100px;
  margin-bottom: 100px;
}


.about-main .content {
  flex: 1;
  margin-right: 80px;
  margin-bottom: auto;
 }
 
 .about-main .image{
   flex: 1;
   margin-left: 80px;
   margin-right: 50px;
 }

 .about-main .image img {
  max-width: 100%; 
  height: auto;
 }


 @media (max-width: 1000px) {
  .about-main .mainContent {
    flex-direction: column; 
    align-items: center; 
  }

  .about-main .image {
    width: 70%; 
    margin-right: 0px;
    margin-left: 0px; 
    margin-bottom: 20px; 
  }

  .about-main .content {
    width: 80%; 
    margin-right: 0px;
    text-align: center;
  }

  .about-main p {
    font-size: 20px;
  }

  .about-main  .mainContent p {
    font-size: 20px;
  }

  .about-main h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
  }
}



/*Footer*/
footer {
 background-color: rgb(217, 217, 217);
 padding-bottom: 25px;
}

footer hr{
 width: 80%;
 margin: 25px auto; 
}

footer p{
  font-size: 28px;
}

.Copyright{
 text-align: right;
 margin-right: 20px;
}

a {
 color: black; 
 text-decoration: none; 
}

footer .material-icons {
 font-size: 48px;
}

.footerInfo{
  position: relative;
}

.footerInfo li{
  display: grid;
  grid-template-columns: 60px 1fr;
  font-size: 24px;
  margin-bottom: 50px;
  margin-left: 50px;
  list-style-type: none; 
}

.SocialMedia img {
  width: 42px; 
  height: 42px; 
  margin-right: 5px; 
  border: 1px solid black;
  border-radius: 10%;
 }

 .footerSocial {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 50px; 
}

.footerSocial li {
  display: grid;
  grid-template-columns: 60px 1fr;
  font-size: 24px;
  list-style-type: none;
}

.container h2{
  font-size: 45px;
  font-family: 'Jockey One', sans-serif;
  font-weight: 100;
  
}
.inputBox{
  margin-top: 10px;
}
.inputBox input {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  resize: none;
}
.inputBox textarea{

  width: 100%;
  height: 120px;
  border: 3px solid black;
}
.container button{
padding: 15px;

 border: 1px solid black;
  
}
 
/*Responze*/
@media (max-width: 950px) {
  h1 {
    font-size: 100px; 
  }

  .container p{
    font-size: 24px;
  }

  .navbar__menu {
    display: none;
  }

  .hamburger-menu {
    display: block;
    font-size: 24px;
  }

  .mainContent {
    flex-direction: column-reverse;
    align-items: center; 
    text-align: center;
  }

  .footerSocial {
    display: flex;
    justify-content: center;
  }

  .Copyright {
    text-align: center;
    font-size: 20px;
  }

  .footerSocial li {
    font-size: 20px;
  }

  .footerInfo .material-icons{
    display: none;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 80px; 
  }

  .container p{
    font-size: 20px;
  }

  .navbar__menu {
    display: none;
  }

  .hamburger-menu {
    display: block;
    font-size: 14px;
  }
}
